/* Generic Thingies */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    overflow-x: hidden;
}

.fullpage-container{
  width: 100vw;
  height: 100vh;
}


#overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#overlay #portfolio-image{
  margin-top:200px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#overlay h1 {
  font-size: 40px;
  margin-top:20px;
  margin-bottom: 40px;
  font-family: 'Kaushan Script', cursive;
  transform: rotate(-4deg);
}

#overlay p {
  font-size: 18px;
  margin-bottom: 100px;
}
a{
    text-decoration: none;
}
#blossom{
  position: absolute;
  top:0;
  right: 0;
  height: 40%;
}
#blossom-leaf{
  position: absolute;
  top:120px;
  right: 160px;
  height: 40px;
  width: 40px;
}
#blossom img, #blossom-leaf img{
  height: 100%;
  width: 100%;
}
/* Colour section */
#overlay{background-color: pink;}

#aboutme{
}
.sectionHead{
  text-decoration: none;
  text-align: center;
  padding-top: 5%;
  font-size: 30pt;
}
.sectionSubHead{
  text-decoration: none;
  text-align: center;
  font-size: 15pt;
  padding-top: 1%;
}

#blogs {
}

.blog-card {
  width: 300px;
  height: 300px;
  margin: 10px;
}

.flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flip-card:hover {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front img{
  width: 100%;
  height: 100%;
}

.flip-card-back {
  background-color: #e9e9e9;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

