
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma';
}
body {
    height: 100vh;
  }
.container{
    display: inline-flex;
    flex-flow:  row wrap;  /*Direction + Wrap*/
    justify-content: flex-start;
    align-content: space-around;
    height: 100%;
    width: 100%;
}
.half-div-bottom {
  width: 100%;
  padding: 1%;
  margin: 1% 0;
  border-radius: 10px;
}
.quarter-div{
    width: 23%;
    margin: 1%;
    padding: 1%;
    
    border-radius: 10px;
}  
.half-div {
    width: 50%;
    padding: 1%;
    margin: 1% 0;
    border-radius: 10px;
  }
half-Vertical-div{
    height : 50%;
}
  .bar {
    display: inline-block;
  }

  h3,h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }
  .chart-container {
    width: 100%;
    position: relative;
  }
  


/* =================================== */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* =================================== */
/* Theme selector */
.theme-selector {
  position: absolute;
  top: 0;
  right: 0;
}
#theme-btn {
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
#theme-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}
#theme-dropdown a {
  display: block;
  
  padding: 8px 16px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #C9AD7E;
  color: #2D2926;
  font-size: 16px;
  cursor: pointer;
}



