.got-questions,
.weve-got-answers {
  align-self: stretch;
  position: relative;
}
.got-questions {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.05em;
  line-height: 80px;
  font-weight: 900;
  font-family: inherit;
}
.weve-got-answers {
  font-size: var(--text-lg-font-normal-size);
  line-height: 28px;
  color: var(--night-200);
}
.filter-node1 {
  width: 1128px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 56px 0;
  max-width: 100%;
}
.how-do-you {
  width: 1076px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  max-width: calc(100% - 20px);
}
.union-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
}
.faq {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--night-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-0);
  row-gap: 20px;
}
.how-do-you1 {
  width: 1076px;
  border: 0;
  outline: 0;
  font-family: var(--text-body-font-medium-full-caps);
  font-size: var(--text-lg-font-normal-size);
  background-color: transparent;
  height: 28px;
  position: relative;
  line-height: 28px;
  color: var(--white-smoke);
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 20px);
  padding: 0;
}
.union-icon2 {
  height: 20px;
  width: 20px;
  position: relative;
}
.faq1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--night-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-0);
  row-gap: 20px;
}
.how-do-you2 {
  width: 1076px;
  border: 0;
  outline: 0;
  font-family: var(--text-body-font-medium-full-caps);
  font-size: var(--text-lg-font-normal-size);
  background-color: transparent;
  height: 28px;
  position: relative;
  line-height: 28px;
  color: var(--white-smoke);
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 20px);
  padding: 0;
}
.union-icon3 {
  height: 20px;
  width: 20px;
  position: relative;
}
.faq2 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--night-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-0);
  row-gap: 20px;
}
.how-do-you3 {
  width: 1076px;
  border: 0;
  outline: 0;
  font-family: var(--text-body-font-medium-full-caps);
  font-size: var(--text-lg-font-normal-size);
  background-color: transparent;
  height: 28px;
  position: relative;
  line-height: 28px;
  color: var(--white-smoke);
  text-align: left;
  display: inline-block;
  max-width: calc(100% - 20px);
  padding: 0;
}
.union-icon4 {
  height: 20px;
  width: 20px;
  position: relative;
}
.faq3 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--night-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-0);
  row-gap: 20px;
}
.constant-node,
.data-transformer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.constant-node {
  width: 1128px;
  align-items: flex-start;
  gap: 24px 0;
  text-align: left;
  font-size: var(--text-lg-font-normal-size);
}
.data-transformer {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-93xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 112px 0;
  text-align: center;
  font-size: var(--text-5xl-font-black-size);
  color: var(--white-smoke);
  font-family: var(--text-body-font-medium-full-caps);
}
@media screen and (max-width: 1200px) {
  .data-transformer {
    gap: 56px 0;
  }
}
@media screen and (max-width: 1050px) {
  .got-questions {
    font-size: var(--font-size-21xl);
    line-height: 48px;
  }
  .data-transformer {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .data-transformer,
  .filter-node1 {
    gap: 28px 0;
  }
}
@media screen and (max-width: 450px) {
  .got-questions {
    font-size: var(--font-size-5xl);
    line-height: 32px;
  }
  .how-do-you,
  .how-do-you1,
  .how-do-you2,
  .how-do-you3,
  .weve-got-answers {
    font-size: var(--font-size-mid);
    line-height: 22px;
  }
  .data-transformer {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
