.position-node-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1.04);
}
.wrapper-position-node {
  width: 1772px;
  height: 1175px;
  position: absolute;
  margin: 0 !important;
  top: 22px;
  left: -594px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.game-art-and,
.we-craft-visually {
  align-self: stretch;
  position: relative;
}
.game-art-and {
  margin: 0;
  font-size: inherit;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
}
.we-craft-visually {
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  color: var(--night-300);
}
.distort-node,
.reflect-node {
  display: flex;
  flex-direction: column;
}
.distort-node {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  gap: 24px 0;
}
.reflect-node {
  width: 344px;
  border-radius: var(--br-5xs);
  background: linear-gradient(
    180deg,
    rgba(58, 63, 63, 0.4),
    rgba(58, 63, 63, 0)
  );
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.subtract-icon {
  width: 25.3px;
  height: 24px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.story-and-content {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
}
.we-develop-compelling {
  align-self: stretch;
  position: relative;
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  color: var(--night-300);
}
.processing-unit {
  width: 312px;
  border-radius: var(--br-5xs);
  background: linear-gradient(
    270deg,
    rgba(58, 63, 63, 0),
    rgba(58, 63, 63, 0.4)
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: 24px 0;
}
.rectangle-input {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  border: 0 solid var(--coquelicot-600-main);
  box-sizing: border-box;
}
.sw2 {
  color: var(--coquelicot-600-main);
}
.here-are-the-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
}
.services-designed-with {
  align-self: stretch;
  position: relative;
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  color: var(--night-300);
}
.branch-splitter {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: 24px 0;
  text-align: center;
  font-size: var(--text-3xl-font-bold-size);
  color: var(--white-smoke);
}
.output-aggregator-child {
  height: 24px;
  width: 24px;
  position: relative;
}
.game-development {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
}
.we-provide-end-to-end {
  align-self: stretch;
  position: relative;
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  color: var(--night-300);
}
.processing-unit1 {
  height: 216px;
  width: 312px;
  border-radius: var(--br-5xs);
  background: linear-gradient(
    270deg,
    rgba(58, 63, 63, 0.4),
    rgba(58, 63, 63, 0)
  );
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: 24px 0;
}
.output-aggregator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 48px;
  max-width: 100%;
  z-index: 1;
  text-align: left;
}
.union-icon {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
}
.sound-design-and {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  font-weight: 700;
  font-family: inherit;
}
.we-create-immersive {
  align-self: stretch;
  position: relative;
  font-size: var(--text-body-font-medium-full-caps-size);
  line-height: 24px;
  color: var(--night-300);
}
.function-node,
.scale-node {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 1;
}
.function-node {
  width: 312px;
  border-radius: var(--br-5xs);
  background: linear-gradient(
    179.95deg,
    rgba(58, 63, 63, 0),
    rgba(58, 63, 63, 0.4)
  );
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-base);
  gap: 24px 0;
}
.scale-node {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-137xl) 0 0;
  position: relative;
  gap: 48px 0;
  min-height: 1088px;
  max-width: 100%;
  text-align: center;
  font-size: var(--text-xl-font-bold-size);
  color: var(--coquelicot-600-main);
  font-family: var(--text-body-font-medium-full-caps);
}
@media screen and (max-width: 1200px) {
  .output-aggregator {
    flex-wrap: wrap;
  }
  .scale-node {
    padding-right: var(--padding-59xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .here-are-the-container {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .output-aggregator {
    gap: 0 24px;
  }
  .scale-node {
    gap: 24px 0;
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .game-art-and,
  .story-and-content {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
  .here-are-the-container {
    font-size: var(--font-size-9xl);
    line-height: 29px;
  }
  .game-development,
  .sound-design-and {
    font-size: var(--font-size-3xl);
    line-height: 26px;
  }
}
